<!DOCTYPE html>
html(lang="en")
    head
        include head.pug
    body
        block content
        script(src="assets/jquery.min.js")
        script(src='assets/popper.min.js')
        script(src='assets/bootstrap.min.js')
        script(src="assets/script.js")