.col-xs-12.my-1.mx-auto.text-center
    span.badge.badge-primary.badge-pill.w-100 Mark

.col-xs-12.my-1.mx-auto.text-center
    span.badge.badge-primary.badge-pill.w-100 Erick

.col-xs-12.my-1.mx-auto.text-center
    span.badge.badge-primary.badge-pill.w-100 Nick

template#userItem
    .col-xs-12.my-1.mx-auto.text-center
        span.badge.badge-primary.badge-pill.w-100 Mark