/*****************************************************************************/


/* vars: Style */


/*****************************************************************************/
@import "_mixins.scss";

$background-color: #f2f2f2;
$gradient: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$gradient2: linear-gradient(to right, #57c0c8, #33c6c0, #12cbaf, #25cf97, #4ad178);
$gradient3: linear-gradient(to right top, #5d0586, #7611a2, #911cbe, #ac27dc, #c931f9);
$white:#fff;
$purple:#B95FE5;
$facebook:#3b5998;
$twitter:#1da1f2;
$instagram:#405de6;
$google:#dd4b39;
$youtube:#ff0000;
$wordpress:#21759b;
$pinterest:#bd081c;
$linkedin:#0077b5;
$tumblr:#35465c;

$font-family :-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$logoColor:#4725E2;